@import 'variables'
@import 'utilities'

@include reset

#main-banner
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../img/office.jpg')
  background-position: center
  background-size: cover
  height: 85vh

  .nav-container
    background-color: $black
    display: flex
    justify-content: space-between
    left: 0
    padding: 1.5rem 2rem
    position: fixed
    top: 0
    width: 100%
    z-index: 10

    .brand
      color: $light-color
      font-size: 2rem
      @include main-hover
    
    &-navbar
      align-items: center
      display: flex
      height: 100%

      li
        margin: 5px 10px

        a
          color: $light-color
          @include main-hover
  
    .fas.fa-bars
      color: #FFF
      display: none
      font-size: 2rem
  
  .title-container
    align-items: center
    color: $light-color
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%

    h2
      font-size: 3rem
      @extend %title-text-shadow
    
    h1
      font-size: 4rem
      margin-top: 1rem
      @extend %title-text-shadow

.services-container
  text-align: center
  margin-bottom: 2rem
  padding: 2rem

  h2
    @extend %section-title

  .services-card-container
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding: 2rem

  .services-card
    border: 1px solid #CCC
    margin: 1%
    padding: 2rem
    transition: .3s
    width: 30%
    &:hover
      border-color: transparent
      box-shadow: 0 1px 10px #CCC

    i
      color: $primary-color
      display: block
      font-size: 4rem
      margin: 1rem 0 1.5rem 0
    
    h3
      font-size: 1.5rem
      margin-bottom: 1rem
    
    p
      color: $text-color
    